body {
  padding-top: 70px;
}

p {
  font-family: Open Sans;
}

h2 {
  font-family: Montserrat, Open Sans, Sans-serif;
}

.navbar-fixed-top.navbar {
    color: #FFFFFF;
    background-color: #ffffff;
}
.footer {
  background-color:silver;
  text-align:center;
}
/* #navigation {
  background-image:url("https://i.ytimg.com/vi/_kaqhy2iV7c/maxresdefault.jpg");
  background-position: center; 
  background-repeat: repeat-x;
  background-attachment: fixed;
} */
#brandimg {
  width:5em;

}
